/* contents : texts, links, sections, game */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    max-width: 100vw;
}

/* texts et fonts */

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}

h1 {
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
}

h3 {
  font-size: 2rem;
  font-family: 'DM Sans', sans-serif;
}

h4 {
  font-size: 1.5rem;
  font-family: 'DM Sans', sans-serif;
}

p {
  font-size: 1rem;
  font-family: 'DM Sans', sans-serif;
}

/* links */

a {
  font-weight: 800;
  font-size: 1.1rem;
  line-height: 1.5;
  font-family: 'DM Sans', sans-serif;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

header {
    height: calc(100vh - 5rem);
    padding-top: 7vh;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

header section {
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

header h1 {
    text-transform: uppercase;
}

header p {
    width: 60%;
}

footer {
    height: 300px;
    background-color: black;
}

.navbar {
    z-index: 5000;
    top: 0;
    background-color: white;
    position: sticky;
    height: 5rem;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.navbar a {
  font-weight: 400;
}

.navbar a:hover {
  font-weight: 800;
}

.cta-game {
  color: white;
  padding: 0.8rem 1.8rem;
  background-color: rgb(255, 88, 88);
  border-radius: 10px;
  transition: 0.5s ease;
}

.cta-game:hover {
  transform: translateY(5px);
  transition: 0.5s ease;
}

.persos-accueil {
    height: 40%;
    z-index: -1000000;
    position: relative;
}

/* game */
