/* contents : texts, links, sections, game */

*,
*::after,
*::before {
 box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    max-width: 100vw;
}


/* texts et fonts */

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
}

h1 {
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-size: 2rem;
    font-family: 'DM Sans', sans-serif;
}

h4 {
    font-size: 1.5rem;
    font-family: 'DM Sans', sans-serif;
}

p {
    font-size: 1rem;
    font-family: 'DM Sans', sans-serif;
}


/* links */

a {
    font-weight: 800;
    font-size: 1.1rem;
    line-height: 1.5;
    font-family: 'DM Sans', sans-serif;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

header {
    height: calc(100vh - 5rem);
    padding-top: 7vh;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

header section {
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

header h1 {
    text-transform: uppercase;
}

header p {
    width: 60%;
}

footer {
    height: 300px;
    background-color: black;
}

.navbar {
    z-index: 5000;
    top: 0;
    background-color: white;
    position: sticky;
    height: 5rem;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.navbar a {
    font-weight: 400;
}

.navbar a:hover {
    font-weight: 800;
}

.navbar .logo {
    position: absolute;
    left: 0;
    margin-left: 1.5rem;
}

.cta-game {
    color: white;
    padding: 0.8rem 1.8rem;
    background-color: rgb(255, 88, 88);
    border-radius: 10px;
    transition: 0.5s ease;
}

.cta-game:hover {
    transform: translateY(5px);
    transition: 0.5s ease;
}

.persos-accueil {
    height: 40%;
    z-index: -1000000;
    position: relative;
}


/* game */

.game-container {
    height: calc(100vh - 5rem);
}

.center {
    height: calc(100vh - 5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.center p {
    width: 60%;
}

.character-story-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.character-story {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: pink;
    width: 200px;
    height: 200px;
    transition: 0.7s ease;

}

.character-story:hover {
  transform: translateY(-10px);
  transition: 0.7s ease;
}

.character-story img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.game-container #game {}

.game-container #game .bubble {
    background-color: white;
    border: solid 2px black;
    position: absolute;
    margin: 5vh 5vw;
    width: calc(100vw - 10vw);
    padding: 1.5rem;
    bottom: 0;
    border-radius: 15px;
}

.game-container #game .bubble .button-story,
.game-container #game .bubble #explaination #continue {
    font-family: 'DM Sans', sans-serif;
    font-weight: bolder;
    color: rgb(255, 88, 88);
    padding: 0.8rem 1.8rem;
    border: solid 2px rgb(255, 88, 88);
    border-radius: 10px;
    transition: 0.5s ease;
    cursor: pointer;
    margin-right: 15px;
}

.game-container #game .bubble .button-story:hover,
.game-container #game .bubble #explaination #continue:hover {
    color: white;
    background-color: rgb(255, 88, 88);
    border: solid 2px rgb(255, 88, 88);
    transform: translateY(2px);
    transition: 0.5s ease;
}


/* //////////page infos//////////////// */
.car_container {
  display: flex;
  justify-content: center;
  align-content: center;

}

.grid {
  width: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  align-items: center;
    justify-items: center;
    padding-top: 5%;
}
@media (max-width: 40em) {
  .grid {
    grid-gap: 3rem;
  }

}
.grid__item {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  border: solid 2px black;
  cursor: pointer;
  width: 30rem;
  transition: 0.2s;
}
.grid__item:hover {
  transform: translateY(-0.5%);
}

.card__img {
  display: block;
  width: 100%;
  height: 18rem;
  object-fit: cover;
}
.card__content {
  padding: 3rem 3rem;
}
.card__header {
  font-size: 2rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}
.card__text {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}
.card__btn1 {
  display: block;
  width: 100%;
  font-size: 2rem;
  text-align: left;
  color: #F5BF7B;
  background-color: rgba(13, 13, 13, 0);
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
}
.card__btn2 {
  display: block;
  width: 100%;
  font-size: 2rem;
  text-align: left;
  color: #81B4D7;
  background-color: rgba(13, 13, 13, 0);
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
}
.card__btn3 {
  display: block;
  width: 100%;
  font-size: 2rem;
  text-align: left;
  color: #CC3A41;
  background-color: rgba(13, 13, 13, 0);
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
}

.card__btn1 span {
  margin-left: 1rem;
  transition: 0.2s;
}
.card__btn1:hover, .card__btn1:active {
  color: #ffd9aa;
}
.card__btn1:hover span, .card__btn1:active span {
  margin-left: 1.5rem;
}

.card__btn2 span {
  margin-left: 1rem;
  transition: 0.2s;
}
.card__btn2:hover, .card__btn2:active {
  color: #a6c5d9;
}
.card__btn2:hover span, .card__btn2:active span {
  margin-left: 1.5rem;
}

.card__btn3 span {
  margin-left: 1rem;
  transition: 0.2s;
}
.card__btn3:hover, .card__btn3:active {
 color: #c87b7f;
}
.card__btn3:hover span, .card__btn3:active span {
  margin-left: 1.5rem;
}

.info_txt{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1%;
}